.details_box{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 2/6;
    grid-row: 5/3;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 3;
  }

  .details_box section {
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }