@import 'variables.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

#root {
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-layout{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(8,1fr);
}

.leaflet-container{
  width: 100%;
  height: 100%;
  z-index: 1;
}

